

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    

}

.product-tag  {
    color:chocolate;
}

.product-title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    color: #515076;
}

.products {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-card{
    list-style: none;
    background-color: #F7F7FA;
    width: 300px;
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.button {
    background-color: #515076;
    color: white;
    border: 1px solid #515076;
    padding: 10px 20px;
    border-radius: 5px;
}

.product-image {
    
    display: block;
    margin: auto;
}